{%load static%}
{% for home_page in home_page_data %}
{% for info_call in info_call_data %}
{%for my_resume in my_resume_data %}

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>قالب رزومه</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'Home\css\default.css'%}">
	<link rel="stylesheet" href="{% static 'Home\css\layout.css'%}">
   <link rel="stylesheet" href="{% static 'Home\css\media-queries.css'%}>
   li="stylesheet href="{% static 'Home\css\magnific-popup.css'%}">

   <!-- Script
   ================================================== -->
	<script src="{% static 'Home\js\modernizr.js'%}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">


         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">خانه</a></li>
            <li><a class="smoothscroll" href="#about">درباره من</a></li>
	         <li><a class="smoothscroll" href="#resume">رزومه</a></li>
            <li><a class="smoothscroll" href="#portfolio">کار ها</a></li>
            <li><a class="smoothscroll" href="#testimonials">جملات</a></li>
            <li><a class="smoothscroll" href="#contact">تماس</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline"> {{home_page.name}} </h1>
            <h3>{{home_page.discription}}</h3>
           <br><br>
             <a class="smoothscroll" href="#about">درباره من</a>.</h3>
            <hr />

            
            <ul class="social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">


         </div>

         <div class="nine columns main-col" style="direction:rtl;float:right;justify-content;right">

      

            <div class="row">

               <div class="columns contact-details" style="direction:rtl;float:right;justify-content;right">

               
                        

         

            <div class="row">

               <div class="columns contact-details">

                  <h2>اطلاعات تماس</h2>
                  <p class="address">
						   <span>{{info_call.discription_1}}</span><br>
						   <span>{{info_call.address_home}}
                     </span><br>
						   <span>{{info_call.call_number}}</span><br>
                     <span>{{info_call.Email_7}}</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="{{info_call.resume.url}}" class="button"><i class="fa fa-download"></i>دانلود رزومه</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">



      <!-- Work
      ----------------------------------------------- -->
      <div class="row work" style="float:right;justify-content:right;">

         <div class="three columns header-col" style="float:right;justify-content:right;">
            <h1 style="float:right;justify-content:right;"><span style="float:right;justify-content:right;">کار ها</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>  درباره من</h3>
                  <p class="info"> <span>{{my_resume.discription_2}}
                     &bull;</span> <em class="date"></em></p>

                  </p>

               </div>

            </div> <!-- item end -->

            
            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill" style="float:right;justify-content:right;">

         <div class="three columns header-col" style="float:right;justify-content:right;">
            <h1 style="float:right;justify-content:right;"><span style="float:right;justify-content:right;"> مهارت ها </span></h1>
         </div>

         <div class="nine columns main-col">
<!---->
            <p>فعالیت در حوزه بک اند وب و پایتون و جنگو
            </p>

				<div class="container">
    first_ability_name=models.CharField(max_length=50,default='')
    first_ability_name=models.CharField(max_length=50,default='')
 <div class="record"><div class="bar" style="width:{{my_resume.first_ability_percentage}}%;"><span>python</span></div><div class="p" style="margin-right:80px;"> {{my_resume.first_ability_name}} {{my_resume.first_ability_percentage}}%<span></span></div></div>
<br><br>

 <div class="record"><div class="bar" style="width:{{my_resume.second_ability_percentage}}%;"><span>django</span></div><div class="p"><span style="margin-right:80px;"> {{my_resume.second_ability_name}} {{my_resume.second_ability_percentage}}%</span></div></div>
<br><br>
 <div class="record"><div class="bar" style="width:{{my_resume.third_ability_percentage}}%;"><span>pyqt</span></div><div class="p"><span style="margin-right:80px;"> {{my_resume.third_ability_name}} {{my_resume.third_ability_percentage}}%</span></div></div>
<br><br>
 <div class="record"><div class="bar" style="width:{{my_resume.forth_ability_percentage}}%;"><span>web-backend</span></div><div class="p"><span style="margin-left:-60px;"> {{my_resume..forth_ability_name}}{{my_resume.forth_ability_percentage}}%</span></div></div>
</div>

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>برخی از کار های من.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="">
                        <img alt="" src="images/portfolio/coffee.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Coffee</h5>
                              <p>Illustrration</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="images/portfolio/console.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Console</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="images/portfolio/judah.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Judah</h5>
                              <p>Webdesign</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="images/portfolio/into-the-light.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Into The Light</h5>
                              <p>Photography</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="images/portfolio/farmerboy.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Farmer Boy</h5>
                              <p>Branding</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-06" title="">
                        <img alt="" src="images/portfolio/girl.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Girl</h5>
                              <p>Photography</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-07" title="">
                        <img alt="" src="images/portfolio/origami.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Origami</h5>
                              <p>Illustrration</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-08" title="">
                        <img alt="" src="images/portfolio/retrocam.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Retrocam</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div>  <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->

       

            <div class="link-box">
               <a href="">جزییات</a>
		         <a class="popup-modal-dismiss">بستن</a>
            </div>

	      </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-console.jpg" alt="" />

		      <div class="description-box">
			      <h4>کنسول</h4>
			      <p>مقداری اطلاعات</p>
               <span class="categories"><i class="fa fa-tag"></i>برندینگ, توسعه وب </span>
		      </div>

            <div class="link-box">
               <a href="">جزییات</a>
		         <a class="popup-modal-dismiss">بستن</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-judah.jpg" alt="" />

		      <div class="description-box">
			      <h4>عنوان</h4>
			      <p>اطلاعات.</p>
               <span class="categories"><i class="fa fa-tag"></i>برندینگ</span>
		      </div>

            <div class="link-box">
               <a href="">جزیاات</a>
		         <a class="popup-modal-dismiss">بستن</a>
            </div>

	      </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-intothelight.jpg" alt="" />

		      <div class="description-box">
			      <h4>عنوان</h4>
			      <p>جزییات</p>
               <span class="categories"><i class="fa fa-tag"></i>فوتوگرافی</span>
		      </div>

            <div class="link-box">
               <a href="">جزییات</a>
		         <a class="popup-modal-dismiss">بستن</a>
            </div>

	      </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-farmerboy.jpg" alt="" />

		      <div class="description-box">
			      <h4>عنوان</h4>
			      <p>جزییات</p>
               <span class="categories"><i class="fa fa-tag"></i>توسعه وب</span>
		      </div>

            <div class="link-box">
               <a href="">جزییات</a>
		         <a class="popup-modal-dismiss">بستن</a>
            </div>

	      </div><!-- modal-05 End -->

         <div id="modal-06" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-girl.jpg" alt="" />

		      <div class="description-box">
			      <h4>عنوان</h4>
			      <p>توضیحات</p>
               <span class="categories"><i class="fa fa-tag"></i>فوتوگرافی</span>
		      </div>

            <div class="link-box">
               <a href="">جزییات</a>
		         <a class="popup-modal-dismiss">بستن</a>
            </div>

	      </div><!-- modal-06 End -->

         <div id="modal-07" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-origami.jpg" alt="" />

		      <div class="description-box">
			      <h4>عنوان</h4>
			      <p>توضیحات</p>
               <span class="categories"><i class="fa fa-tag"></i>توسعه</span>
		      </div>

            <div class="link-box">
               <a href="">جزییات</a>
		         <a class="popup-modal-dismiss">بستن</a>
            </div>

	      </div><!-- modal-07 End -->

         <div id="modal-08" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-retrocam.jpg" alt="" />

		      <div class="description-box">
			      <h4>عنوان</h4>
			      <p>توضیحات</p>
               <span class="categories"><i class="fa fa-tag"></i>توسعه</span>
		      </div>

            <div class="link-box">
               <a href="">جزییات</a>
		         <a class="popup-modal-dismiss">بستن</a>
            </div>

	      </div><!-- modal-01 End -->


      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Call-To-Action Section
   ================================================== -->



   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">



            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote style="float:right;direction:rtl;">
                           <p>انجام پروژه های شما
                           </p>
                           <cite>معین</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     <li>
                        <blockquote style="float:right;direction:rtl;">
                           <p>با بهترین قیمت و کیفیت
                           </p>
                           <cite>معین</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">



            </div>

           
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

         
   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="{% static 'Home\js\jquery-1.10.2.min.js'%}"><\/script>')</script>
   <script type="text/javascript" src="{% static 'Home\js\jquery-migrate-1.2.1.min.js'%}"></script>

   <script src="{% static 'Home\js\jquery.flexslider.js'%}"></script>
   <script src="{% static 'Home\js\waypoints.js'%}"></script>
   <script src="{% static 'Home\js\jquery.fittext.js'%}"></script>
   <script src="{% static 'Home\js\magnific-popup.js'%}"></script>
   <script src="{% static 'Home\js\init.js'%}"></script>

</body>

</html>
{%endfor%}
{%endfor%}
{%endfor%}